<!-- <div class="luz"> -->
<div class="box sombra" id="usuario1" ng-if="!!jogadorBrancas">
  <article class="media">
    <div class="media-left">
      <figure class="image tamanho">
        <img ng-class="{'turnoUser': corJogando == 0}" ng-src="https://www.gravatar.com/avatar/{{jogadorBrancas.GravatarHash}}?d=retro&s=128" alt="Usuario Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <div><strong>{{jogadorBrancas.Login}}</strong></div>
          <div><small>{{brancas.length}}/12 peças</small></div>
          <div><span class="tag is-light">BRANCAS</span></div>
          <!--<div><small><img src="images/icon.png" alt="pontos">{{pontosBrancas}}</small></div>-->
        </p>
      </div>
    </div>
  </article>
</div>

<div class="url custom-button">
  <a class="url-button custom-button-content" ng-click="mostrarUrl()" ng-show="!mostrar">Compartilhar Sala</a>
</div>

<div class="notification url-input" ng-show="mostrar">
  <button class="delete" ng-click="mostrarUrl()"></button>

  <div class="field has-addons is-not-first">
      <div class="control">
          <input class="input" type="text" id="url" ng-model="url">
      </div>
      <div class="control">
          <a class="button is-info" ng-click="copiar(url)">
              Copiar
          </a>
      </div>
  </div>
</div>  

<div class="tabuleiro">
  <div class="borda">

    <peca peca="peca" selecionada="selecionada" cor-jogador="corJogador" ng-repeat="peca in pecas" ng-click="mostrarMovimentos(peca)"></peca>

    <div class="linha">
      <div id="a1" class="quadrado"></div>
      <div id="a2" class="black quadrado"></div>
      <div id="a3" class="quadrado"></div>
      <div id="a2" class="black quadrado"></div>
      <div id="a5" class="quadrado"></div>
      <div id="a6" class="black quadrado"></div>
      <div id="a7" class="quadrado"></div>
      <div id="a8" class="black quadrado"></div>
    </div>

    <div class="linha">
      <div id="b1" class="black quadrado"></div>
      <div id="b2" class="quadrado"></div>
      <div id="b3" class="black quadrado"></div>
      <div id="b4" class="quadrado"></div>
      <div id="b5" class="black quadrado"></div>
      <div id="b6" class="quadrado"></div>
      <div id="b7" class="black quadrado"></div>
      <div id="b8" class="quadrado"></div>
    </div>

    <div class="linha">
      <div id="c1" class="quadrado"></div>
      <div id="c2" class="black quadrado"></div>
      <div id="c3" class="quadrado"></div>
      <div id="c4" class="black quadrado"></div>
      <div id="c5" class="quadrado"></div>
      <div id="c6" class="black quadrado"></div>
      <div id="c7" class="quadrado"></div>
      <div id="c8" class="black quadrado"></div>
    </div>

    <div class="linha">
      <div id="d1" class="black quadrado"></div>
      <div id="d2" class="quadrado"></div>
      <div id="d3" class="black quadrado"></div>
      <div id="d4" class="quadrado"></div>
      <div id="d5" class="black quadrado"></div>
      <div id="d6" class="quadrado"></div>
      <div id="d7" class="black quadrado"></div>
      <div id="d8" class="quadrado"></div>
    </div>

    <div class="linha">
      <div id="e1" class="quadrado"></div>
      <div id="e2" class="black quadrado"></div>
      <div id="e3" class="quadrado"></div>
      <div id="e4" class="black quadrado"></div>
      <div id="e5" class="quadrado"></div>
      <div id="e6" class="black quadrado"></div>
      <div id="e7" class="quadrado"></div>
      <div id="e8" class="black quadrado"></div>
    </div>

    <div class="linha">
      <div id="f1" class="black quadrado"></div>
      <div id="f2" class="quadrado"></div>
      <div id="f3" class="black quadrado"></div>
      <div id="f4" class="quadrado"></div>
      <div id="f5" class="black quadrado"></div>
      <div id="f6" class="quadrado"></div>
      <div id="f7" class="black quadrado"></div>
      <div id="f8" class="quadrado"></div>
    </div>

    <div class="linha">
      <div id="g1" class="quadrado"></div>
      <div id="g2" class="black quadrado"></div>
      <div id="g3" class="quadrado"></div>
      <div id="g2" class="black quadrado"></div>
      <div id="g5" class="quadrado"></div>
      <div id="g6" class="black quadrado"></div>
      <div id="g7" class="quadrado"></div>
      <div id="g8" class="black quadrado"></div>
    </div>

    <div class="linha">
      <div id="h1" class="black quadrado"></div>
      <div id="h2" class="quadrado"></div>
      <div id="h3" class="black quadrado"></div>
      <div id="h4" class="quadrado"></div>
      <div id="h5" class="black quadrado"></div>
      <div id="h6" class="quadrado"></div>
      <div id="h7" class="black quadrado"></div>
      <div id="h8" class="quadrado"></div>
    </div>
  </div>
</div>

<div class="box sombra" id="usuario2" ng-if="!!jogadorPretas">
  <article class="media">
    <div class="media-left">
      <figure class="image tamanho">
        <img ng-class="{'turnoUser': corJogando == 1}" ng-src="https://www.gravatar.com/avatar/{{jogadorPretas.GravatarHash}}?d=retro&s=128" alt="Usuario Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <div><strong>{{jogadorPretas.Login}}</strong></div>
          <div><small>{{pretas.length}}/12 peças</small></div>
          <div><span class="tag is-dark">PRETAS</span></div>
          <!--<div><small><img src="images/icon.png" alt="pontos">{{pontosPretas}}</small></div>-->
        </p>
      </div>
    </div>
  </article>
</div>


<div id="myModal" class="modal">
  <div class="modal-content">
    <img src="../images/vitoria.png" alt="" srcset="">
  </div>
</div>
<!-- </div> -->