<div class="novo-jogo">
    <a class="add" ng-click="gerarPartida()" ng-show="!!usuario">+</a>
    </a>
</div>
<div class="main">
    <div class="box shadow login">
        <form>
            <div class="field">
                <div class="control">
                    <input class="input" type="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="password" placeholder="Your Password">
                </div>
            </div>
            <a class="button is-block is-info" ng-click="logar(usuario)">Login</a>
        </form>

        <a href="">
            <small>Não possui uma conta? Cadastre-se!</small>
        </a>
    </div>
</div>