<div class="novo-jogo">
    <a class="add" ng-click="gerarPartida()" ng-show="!gerado">+</a></a>

    <div class="notification" ng-show="gerado">
        <button class="delete" ng-click="alterar()"></button>

        <div class="field has-addons is-not-first">
            <div class="control">
                <input class="input" type="text" id="url" ng-model="url">
            </div>
            <div class="control">
                <a class="button is-info" ng-click="copiar(url)">
                    Copiar
                </a>
            </div>
        </div>
    </div>  
</div>