<div class="novo-jogo">
    <a class="add" ng-click="gerarPartida()" ng-if="!!usuario">+</a>
    </a>
</div>
<div class="main">
    <div class="box shadow login">
        <form>
            <div class="field">
                <label for="login">Login</label>
                <div class="control">
                    <input name="login" class="input" type="text" placeholder="Login" autofocus="">
                </div>
            </div>

            <div class="field">
                <label for="senha">Senha</label>
                <div class="control">
                    <input name="senha" class="input" type="password" placeholder="*****">
                </div>
            </div>
            <a class="button is-block is-info" ng-click="logar(usuario)">Entrar</a>
        </form>

        <a ng-click="mostrarCadastro = true">
            <small>Não possui uma conta? Cadastre-se!</small>
        </a>
    </div>
    <button ng-click="gerarPartida()"></button>
</div>
<div ng-if="mostrarCadastro" class="main">
    <div class="box shadow login">
        <button class="delete" ng-click="fecharCadastro()"></button>
        <form>
            <div class="field">
                <label for="email">Email</label>
                <div class="control">
                    <input name="email" ng-model="usuario.email" class="input" type="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <label for="login">Login</label>
                <div class="control">
                    <input name="login" ng-model="usuario.login" class="input" type="text" placeholder="Login" autofocus="">
                </div>
            </div>

            <div class="field">
                <label for="email">Senha</label>
                <div class="control">
                    <input name="senha" ng-model="usuario.senha" class="input" type="password" placeholder="*****">
                </div>
            </div>
            <a class="button is-block is-info" ng-click="cadastrar(usuario)">Cadastrar</a>
        </form>
    </div>
</div>