<div ng-init=setPeca($ctrl.peca)
    ng-class="{'branca': $ctrl.peca.Cor == 0, 
               'preta': $ctrl.peca.Cor == 1,
               'dama': $ctrl.peca.IsDama}"
    class="peca" 
    style="position: absolute; 
           left: {{peca.x}}%; 
           top: {{peca.y}}%;"
    ng-click="mostrarMovimentos()"
           ></div>

<div class="movimento-invisivel" ng-class="{'movimento': selecionada}"
    style="position: absolute; left: {{(movimento.x - 1) * 12.5}}%; top: {{(8 - movimento.y) * 12.5}}%;" 
    ng-repeat="movimento in movimentos" 
    ng-click="moverPeca(movimento)">
</div>