@import url('https://fonts.googleapis.com/css?family=Lobster|Coda');

* {
    box-sizing: border-box
}

body {
    margin: 0;
    height: 100vh;
    background-image: url("images/background.jpg");
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.titulo{
    font-family: 'Lobster', cursive;
    font-size: 400%;
    color: white;
}

.leaderboard{
    position: absolute;
    padding: 3px;
    right: 5vw;
    top: 5vw;
    min-height: 83vh;
    background-color: #fff;
    border-radius: 5px;
}

td {
    max-width: 10vw;
    min-width: 12vw;
    overflow-y: hidden;
}

tr:hover{
    background-color: #dddddd;
}

.login {
    min-width: 300px;
    min-height: 250px;
}

.cadastro {
    min-width: 300px;
    min-height: 280px;
}

.custom-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.custom-button-content{
    padding: 5px;
}

.url {
    position: fixed;
    left: 5vw;
    top: 85vh;
}

.url-button{
    font-size: 100%;
    color: #fff;
    font-weight: bold;
    background-color: #209cee;
    -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
    box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
}

.notification.url-input {
    position: fixed;
    left: 2vw;
    top: 82vh;
}

.is-not-first{
    margin-top: 10px;
}

.add{
    color: #fff;
    font-size: 150%;
    font-weight: bold;
    background-color: #209cee;
    -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
    box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
}

.custom-button-content:hover{
    background-color: #187abc;
    transition: .2s;
    transition-timing-function: ease-in-out;
    color: #fff;
}

.notification {
    -webkit-box-shadow: 0px 0px 38px 10px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 38px 10px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 38px 10px rgba(0,0,0,0.59);
}

.delete{
    margin: 5px;
}

.luz{
    width: 750px;
    height: 750px;
    background-color: rgba(242, 195, 19, .5);
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 300px 200px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 300px 200px rgba(0,0,0,1);
    box-shadow: 0px 0px 300px 200px rgba(0,0,0,1);

}

.tabuleiro {
    width: 40vw;
	height: 40vw;
    background-image: url("images/tabuleiro.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.borda {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border: 2px solid rgb(109, 74, 52);
}

.linha {
    display: flex;
    width: 100%;
    height: 12.5%;
}

.quadrado{
    width: 12.5%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black {
    background-image: url("images/blacksquare2.jpg");
}

.branca {
    background-image: url("images/peca.png");
    background-size: cover;
}

.preta {
    background-image: url("images/peca-preta.png");
    background-size: cover;
}

.branca.dama {
    background: url("images/peca-dama.png");
    background-size: cover;
}

.preta.dama {
    background: url("images/peca-preta-dama.png");
    background-size: cover;
}

.peca {  
    height: 10%;
    width: 10%;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.podeMexer {
    filter: drop-shadow(0 0 10px #fff);
    cursor: pointer;
}

.selecionada {
    filter: drop-shadow(0 0 10px #0f0);
    z-index: 1;
    transform: scale(1.1);
}

.movimento {
    height: 10%;
    width: 10%;
    opacity: .4;
    background-image: url("images/peca.png");
    background-size: cover
}

.movimentoPreta {
    background-image: url("images/peca-preta.png");
    opacity: .4;
}

#usuario1 {
    left: 2vw;
}

#usuario2 {
    right: 2vw;
}

.usuario img {
    width: 140px;
    height: 140px;
}

table.table {
    font-family: 'Coda', cursive;
    margin: 0;
}

.media-content {
    max-width: 200px;
}

.media-content .content {
    font-family: 'Coda', cursive;
}

.box {
    position: fixed;
    top: 50px;
    max-width: 26%;
    z-index: 1;
}

.in-the-middle{
    position: fixed;
    top: 150px;
}

.delete.cadastro-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.box.sombra {
    -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,1);
    -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,1);
    box-shadow: 7px 10px 19px 0px rgba(0,0,0,1);
}

.sombra {
    -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,5);
    -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,5);
    box-shadow: 7px 10px 19px 0px rgba(0,0,0,5);
}

.botoes {
    position: absolute;
    bottom: 10px;
    left: 40%;
}

#anterior {
    background-image: url("images/seta.png");
    transform: scaleX(-1);

}

#proxima {
    background-image: url("images/seta.png");
}

@media screen and (min-width: 2560px){
    .box {
        position: fixed;
        top: 50px;
        max-width: 26%;
        z-index: 1;
    }    
    
    .media-content {
        max-width: 200px;
    }

    figure.image.tamanho{
        width: .5vw;
        height: .5vw;
    }
    
    .content {
        font-size: 1.5vw;
        word-wrap: break-word;
    }
    
    .url {
        position: fixed;
        left: 5vw;
        top: 85vh;
    }
    
    .url-button{
        font-size: 250%;
        color: #fff;
        font-weight: bold;
        background-color: #209cee;
        -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
    }
    
    .notification.url-input {
        position: fixed;
        left: 2vw;
        top: 82vh;
    }
}

@media screen and (min-height: 1024px) and (max-width: 1400px){
    .tabuleiro {
        width: 70vw;
        height: 70vw;
        background-image: url("images/tabuleiro.jpg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        font-size: 2.5vw;
        word-wrap: break-word;
    }

    .box {
        width: 43vw;
        height: 23vw;
        max-width: 650px;
        -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        z-index: 1;
    }

    .media {
        width: 10vw;
        height: 10vw;
    }

    figure.image.tamanho{
        width: 20vw;
        height: 20vw;
    }
}

@media screen and (min-height: 1024px){
    .content {
        font-size: 275%;
        word-wrap: break-word;
    }

    .box {
        width: 25vw;
        height: 20vh;
        max-width: 650px;
        -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        z-index: 1;
    }

    .content .tag {
        font-size: 50%;
    }

    .media {
        width: 100%;
        height: 100%;
    }

    figure.image.tamanho{
        width: 10vw;
        height: 10vw;
    }
}

@media screen and (max-width: 1100px){
    #usuario1 {
        left: 3vw;
    }

    #usuario2{
        right: 3vw;
    }

    .content {
        font-size: 2vw;
        word-wrap: break-word;
    }

    .content .tag {
        font-size: 75%;
    }

    .box {
        width: 25vw;
        height: 15vw;
        max-width: 650px;
        -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        z-index: 1;
    }

    .media-content{
        max-width: 140px;
    }

    .media-left {
        top: 10px;
        left: 10px;
        position: absolute
    }
    
    .content {
        left: 57%;
        top: 0;
        position: absolute;
        word-wrap: break-word;
        max-width: 150px;
    }
    
    figure.image.tamanho{
        width: 12vw;
        height: 12vw;
    }
}

@media screen and (max-width: 750px){
    .box {
        max-width: 50%;
        position: fixed;
        -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        z-index: 1;
    }

    #usuario1 {
        top: 30px;
        left: 36%;
    }

    #usuario2 {
        top: 75%;
        left: 36%;
    }

    .content {
        word-wrap: break-word;
    }
}

@media screen and (max-width: 650px) {
    .tabuleiro {
        width: 90vw;
        height:90vw;
        background-image: url("images/tabuleiro.jpg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box {
        width: 50vw;
        height: 30vw;
        -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        z-index: 1;
    }

    .media {
        width: 20vw;
        height: 20vw;
    }

    figure.image.tamanho{
        width: 20vw;
        height: 20vw;
    }

    #usuario1 {
        top: 5vh;
        left: 25%;
    }

    #usuario2 {
        top: 78vh;
        left: 25%;
    }

    .content {
        word-wrap: break-word;
    }
}

@media screen and (max-width: 425px) {
    #usuario1 {
        top: 3.5vh;
        left: 24%;
    }

    #usuario2 {
        top: 78vh;
        left: 24%;
    }

    .tabuleiro {
        width: 70vw;
        height: 70vw;
        background-image: url("images/tabuleiro.jpg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .media-left {
        top: 10px;
        left: 10px;
        position: absolute
    }
    
    .content {
        left: 50%;
        top: 0;
        position: absolute;
        word-wrap: break-word;
        font-size: 3.5vw;
        max-width: 100px;
    }

    .box {
        width: 50vw;
        height: 25vw;
        max-width: 400px;
        -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        z-index: 1;
    }
}

@media screen and (max-width: 375px) {
    #usuario1 {
        top: 2vh;
        left: 20%;
    }

    #usuario2 {
        top: 80vh;
        left: 20%;
    }

    .media-left {
        top: 10px;
        left: 10px;
        position: absolute
    }
    
    .content {
        left: 50%;
        top: 0;
        position: absolute;
        word-wrap: break-word;
        max-width: 100px;
    }

    .box {
        width: 60vw;
        height: 25vw;
        max-width: 400px;
        -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        z-index: 1;
    }
}

@media screen and (max-width: 320px) {
    .media-left {
        top: 10px;
        left: 10px;
        position: absolute
    }
    
    .content {
        left: 50%;
        top: 0;
        position: absolute;
        word-wrap: break-word;
        max-width: 70px;
    }

    .box {
        width: 55vw;
        height: 25vw;
        max-width: 400px;
        -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
        z-index: 1;
    }
}









/*ModalBox*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/*End ModalBox*/
