@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

* {
    box-sizing: border-box
}

body {
    margin: 0;
    height: 100vh;
    background-image: url("https://static1.squarespace.com/static/54e5f8d8e4b0c694a3dc90e4/t/5604087fe4b0d28c824e3a2a/1443104899453/Substation+Wood+Texture.jpg?format=2500w");
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.novo-jogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.is-not-first{
    margin-top: 10px;
}

.add{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    background-color: #209cee;
    width: 70px;
    height: 70px;
    padding-left: 22px;
    -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
    box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.59);
}

.add:hover{
    background-color: #187abc;
    transition: .2s;
    color: #fff;
}

.notification {
    -webkit-box-shadow: 0px 0px 38px 10px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 38px 10px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 38px 10px rgba(0,0,0,0.59);
}

.delete{
    margin: 5px;
}

.luz{
    width: 750px;
    height: 750px;
    background-color: rgba(242, 195, 19, .5);
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 300px 200px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 300px 200px rgba(0,0,0,1);
    box-shadow: 0px 0px 300px 200px rgba(0,0,0,1);

}

.tabuleiro {
    width: 40vw;
	height: 40vw;
    background-image: url("images/tabuleiro.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.borda {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border: 2px solid rgb(109, 74, 52);
}

.linha {
    display: flex;
    width: 100%;
    height: 12.5%;
}

.quadrado{
    width: 12.5%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black {
    background-image: url("images/blacksquare2.jpg");
}

.branca {
    filter: sepia(.5);
}

.preta {
    filter: grayscale(.9);
    filter: brightness(.2);
}

.branca.dama {
    background: #fff url("http://4.bp.blogspot.com/-BDcUTSIGkY4/Ui5yiqbainI/AAAAAAAABMQ/Tb8-BOjl4U4/s1600/capture_20130216_174321_by_pinklifeeditions-d5v61cs.png");
}

.preta.dama {
    background: #f00 url("http://4.bp.blogspot.com/-BDcUTSIGkY4/Ui5yiqbainI/AAAAAAAABMQ/Tb8-BOjl4U4/s1600/capture_20130216_174321_by_pinklifeeditions-d5v61cs.png");
}

.peca {  
    height: 10%;
    width: 10%;
    -webkit-transition-property: top, left;
    -webkit-transition-duration: 0.5s;
    transition-property: top, left;
    transition-duration: 0.5s;
}

.movimento {
    height: 10%;
    width: 10%;
    filter: opacity(.4);
}

.movimento-invisivel{
    display: none; 
}

.movimento-invisivel.movimento{
    display: block;
}

@media screen and (max-width: 650px) {
    .tabuleiro {
        width: 90vw;
        height:90vw;
        background-image: url("images/tabuleiro.jpg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}